/* ヘッダー部分 */
.site-header {
  padding: 40px 10px;
  color: black;
}
.site-title {
  font-size: 3rem;
  margin: 0;
}
.site-subtitle {
  font-size: 1.2rem;
  margin: 10px 0 0;
}

.under-header-photo {
  display: block;      /* 画像の下の余白を消したいときに便利 */
  width: 100vw;        /* 画面の幅いっぱい（viewport width） */
  height: auto;        /* 縦横比を保つ */
}

.loop-slider {
  margin-top: 50px
  width: 100%;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
}

.loop-slider::-webkit-scrollbar {
  display: none;
}

.loop-slider .track {
  display: inline-flex;
}

.loop-slider img {
  height: 250px;
  width: 250px;
  flex-shrink: 0;
  padding: 10px 10px 10px 10px;
}

/* 記事エリア */
.articles {
  max-width: 800px;
  margin: 40px auto;
  padding: 0 20px;
}
.articles article {
  margin-bottom: 40px;
}
.articles h2 {
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 10px;
  display: inline-block;
  transform: rotate(-15deg); /* 文字を左に15度傾ける */


}
.articles h3 {
  font-size: 1.8rem;
  margin-bottom: 10px;
}
.articles p {
  line-height: 1.6;
}
