/* ヘッダー部分 */
.site-header {
  display: flex;
  color: black;
  justify-content: space-between; /* 左右に配置 */
  align-items: center;            /* 縦位置を中央に */
  padding: 10px 20px;
}

.header-link img {
  width: 30px;   /* 好きなサイズに調整 */
  height: auto;
  cursor: pointer;
}
  
}
.site-title {
  font-size: 5rem;
  align-self: flex-end; /* サブタイトルを下に寄せる */
  margin: 0px 25px 0px 20px;
}
.site-subtitle {
  font-size: 2rem;
  align-self: flex-end; /* サブタイトルを下に寄せる */
  padding: 5px 0px 0px 0px;
}

.under-header-photo {
  display: block;      /* 画像の下の余白を消したいときに便利 */
  width: 100vw;        /* 画面の幅いっぱい（viewport width） */
  height: auto;        /* 縦横比を保つ */
}

.loop-slider {
  margin-top: 50px
  width: 100%;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
}

.loop-slider::-webkit-scrollbar {
  display: none;
}

.loop-slider .track {
  display: inline-flex;
}

.loop-slider img {
  height: 250px;
  width: 250px;
  flex-shrink: 0;
  padding: 10px 10px 10px 10px;
}

/* 記事エリア */
.articles {
  margin: 10px 0px 10px 10px;
}

.articles h2 {
  font-size: 3.5rem;
  font-family: 'Montserrat', sans-serif;
  width: 100%;              /* 横幅いっぱい */
  background-color: #000;   /* 背景を黒に */
  color: #fff;              /* 文字を白に（必要なら） */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0px 5px 10px;
  margin-bottom: 20px;
}

.articles h3 {
  font-size: 3rem;
   font-weight: bold;          /* 太字 */
  text-decoration: underline; /* 下線 */
  margin: 0px 0px 10px 5px;
}

.wave-word {
  display: inline-block;        /* アニメに必須 */
  font-weight: bold;            /* 太字（必要なら） */
  color: #ff0000;               /* 文字色（自由に変更OK） */
  animation: wave 3s infinite ease-in-out; /* 永遠に繰り返す */
  margin: 0px 0px 0px 10px;
}

/* 波のようにゆらゆら動く */
@keyframes wave {
  0%, 100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-4px);
  }
  40% {
    transform: translateY(2px);
  }
  60% {
    transform: translateY(-2px);
  }
  80% {
    transform: translateY(1px);
  }
}

.articles p {
  font-size: 1.5rem;
  padding: 0px 0px 10px 20px;
}
