/* ヘッダー部分 */
.site-header {
  display: flex;
  padding: 10px 0px 10px 10px;
  color: black;
}
.site-title {
  font-size: 5rem;
  align-self: flex-end; /* サブタイトルを下に寄せる */
  margin: 0px 20px 0px 0px;
}
.site-subtitle {
  font-size: 2rem;
  align-self: flex-end; /* サブタイトルを下に寄せる */
  margin: 10px 0px 0px 10px;
}

.under-header-photo {
  display: block;      /* 画像の下の余白を消したいときに便利 */
  width: 100vw;        /* 画面の幅いっぱい（viewport width） */
  height: auto;        /* 縦横比を保つ */
}

.loop-slider {
  margin-top: 50px
  width: 100%;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
}

.loop-slider::-webkit-scrollbar {
  display: none;
}

.loop-slider .track {
  display: inline-flex;
}

.loop-slider img {
  height: 250px;
  width: 250px;
  flex-shrink: 0;
  padding: 10px 10px 10px 10px;
}

/* 記事エリア */
.articles {
  max-width: 800px;
  margin: 10px 0px 10px 10px;
}

.articles h2 {
  font-size: 3.5rem;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 10px;
  display: inline-block;
}

.articles h3 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.articles p {
  font-size: 1.5rem;
  padding: 0px 0px 0px 10px;
  line-height: 1.6;
}
